USE [master]
GO
/****** Object:  Database [Tarefas]    Script Date: 14/03/2024 16:04:54 ******/
CREATE DATABASE [Tarefas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tarefas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tarefas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tarefas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tarefas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tarefas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tarefas]
GO
/****** Object:  UserDefinedFunction [dbo].[GetMediatarefasPendente]    Script Date: 14/03/2024 16:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create function [dbo].[GetMediatarefasPendente]()
  returns decimal(10,4)

  begin
    declare @tTarefas decimal(10,4);
    
	select @tTarefas = count(*) from tarefa;

	return @tTarefas;
  end
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 14/03/2024 16:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[DThrLancamento] [datetime] NULL,
	[DThrPrevisaoTermino] [datetime] NULL,
	[DThrInicio] [datetime] NULL,
	[DThrFinalizada] [datetime] NULL,
	[Status] [smallint] NULL,
	[Descricao] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa_Atividade]    Script Date: 14/03/2024 16:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa_Atividade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTarefa] [int] NULL,
	[descricao] [varchar](max) NULL,
 CONSTRAINT [PK_Tarefa_Atividade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/03/2024 16:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Login] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[Nome] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
